.default-container {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 60px;
  gap: 8px;
}

.default-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: auto;
  height: 16px;
  gap: 2px;
}

.default-title {
  height: 16px;
  display: inline-block;

  /* font-family: Noto Sans KR; */
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #6B6B6B;
}

.default-title-asterisk {
  width: 6px;
  height: 14px;
  display: inline-block;

  /* font-family: Noto Sans KR; */
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: #FF0000;
}

.default-title-comment {
  width: 131px;
  height: 12px;

  /* font-family: Noto Sans KR; */
  font-size: 8px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #C1C1C1;
}

.default-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 580px;
  height: 36px;
  padding: 5px 12px 5px 18px;
  gap: 4px;
  border-radius: 5px;
  border: 1px solid #E3E3E3;
}

.default-box-input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;

  /* font-family: Noto Sans KR; */
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
}

.default-box-content {
  /* font-family: Noto Sans KR; */
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #737373;
}