.arrow-icon {
  width: 24px;
  height: 24px;
}

.select-body {
  width: 100%;
  height: 26px;
}

.select-container {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 26px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../../Icon/ArrowDown.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 24px;

  /* font-family: Noto Sans KR; */
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
}

select::-ms-expand { 
	display: none;
}

.select-text {
  /* font-family: Noto Sans KR; */
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
}