div {
  box-sizing: border-box;
}

.top {
  width: auto;
  height: 55px;
  border-bottom: 1px solid #E3E3E3;
}

.body {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.title {
  width: 89px;
  height: 31px;

  /* font-family: Noto Sans KR; */
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;

}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  padding: 16px 0px 25px 0px;
  gap: 30px;
}

.contents {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  padding: 0px 10px 0px 10px;
  gap: 25px;
}